html {
	padding:0;
}
.m-line {display:none}
.magic {display:none}
#header {
	background-color:#e8ab9e;
	color: #fff;
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: space-between;
	padding:0;
}
#top-menu a {
	text-decoration:none;
	color: #fff;
}
#tagline {
	display:flex;
	flex-direction:column;
	font-size:1.5em;
}
a.active {
	font-weight:700;
}
.small-hr {
	width:7%;
}
#bottom-bar {
	display:flex;
	flex-direction:row;
	padding-bottom: 0;
}
img {
	width:100%;
}
#bottom-bar .img-container {
	flex: 1 0 16%;
	padding: 2px;
	padding-bottom:0px;
}
#bottom-bar .img-container:last-child {
	padding-right: 0;
}
#bottom-bar .img-container:first-child {
	padding-left: 0;
}
#footer-left {
	padding-left: 3%;
	padding-right:1%;
	flex:0 0 30%;
}
#footer-right {
	flex:0 0 40%;
}
#container-1 {
	display:flex;
}
#right-main .img-container {
	width:100%;
}
#main {
	background-color:#fff;
	color:#6c2e37;
	display:flex;
	padding:1% 0 0 0;
	display:flex;
	max-width:100%;
	flex-direction:column;
}
#left-main {
	padding: 3%;
	flex:1 1 30%;
}
#right-main {
	flex:1 1 70%;
	padding-right:1%;
}
.description {
	line-height: 1.8em;
	font-size:1.25em;
	font-weight:300;
}
#footer {
	background-color:#e8ab9e;
	color: #fff;
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: flex-start;
	padding:0;
	padding-top: 20px;
	font-size: 0.9em;
	font-weight:500;
}
.date,.art-title {display:none}
#top-menu {
	text-transform: uppercase;
	padding-right:3%;
}
#top-menu li {
	padding:10px;
}
#top-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction: row;
}
#exhibitName {
	flex-direction: column;
	padding-left: 3%;
	justify-content: flex-start;
	min-width:20%;
}
.large-caption {
	padding: 8px 0;
	font-size:1.32em;
}
.art-title {
	font-size:1.2em;
}
.date {
	font-size:0.8em;
}

h1.title {
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:0;
	font-size:3em;
}
h3.subtitle {
	font-weight:400;
	margin-top:0;
	font-size:1.5em;
}

body {
	font-family:'Montserrat',sans-serif;
	margin:0;
}

@media screen and (max-width:750px) {
	h1.title {font-size:2.1em}
	h3.subtitle {font-size:1.05em}
	#tagline {margin-top:10px;margin-bottom:10px;}
	#left-main {padding-top:0px}
	#right-main {
		display:none;
	}
	#main {
		flex-direction: row;
		padding:11px;
	}
	#container-1 {
		width:35%;
	}
	#container-2 {
		max-width:65%;
	}
	#bottom-bar {
		display:flex;
		flex-wrap: wrap;
	}
	.description {
		line-height:1.6em;
		font-size:.9em;
		padding-right:10px;
	}
	#bottom-bar .img-container {
		flex:1 1 45%;
		padding:0;
		margin:5px;
	}
	.date {padding-bottom:3%}
	.date,.art-title {display:flex}
}
@media screen and (max-width:415px) {
	#header {flex-direction: column-reverse;}
	.m-line {display:block}
	#exhibitName {text-align:center;margin-top:-10px;padding-bottom:10px}
	#top-menu {padding-top:30px;}
	h1.title {font-size:1.8em;}
	h3.subtitle {font-size:0.85em;}
	#main {flex-direction:column}
	#tagline {text-align:center;display:inline;font-size:0.85em}
	#container-1 {width:100%}
	.small-hr {display:none}
	.magic {display:inline}
	#left-main {text-align:center}
	.description {text-align:left;font-size:.71em;line-height:1.6em}
	#top-menu li {font-size: 0.8em;}
	#container-2 {max-width:100%}
	#bottom-bar .img-container {flex:1 1 100%}
	.date, .art-title {display:inline-flex}
	.art-title {font-size:.82em;}
	.date {font-size:.72em;}
	#footer {flex-direction:column;align-items:flex-start;padding-bottom:20px;}
	#footer-left,#footer-right {
		flex:1 1 100%;
		padding-left:5%;
	}
}